/*------------------------------------*\
    #TABS NAVIGATION
\*------------------------------------*/

.c-nav-tabs {
    ul {
        display: flex;
        list-style-type: none;
    }
}

        /**
         * 1. Remove outline for webkit browsers.
         */
        .c-nav-tabs__item {
            margin-right: $spacing-unit-tiny;

            &:focus {
                outline: none; /* [1] */
            }

            .c-nav-tabs--secondary & {
                margin-right: 0;
            }
        }

        .c-nav-tabs__link {
            $color: #afb1b3;

            border-radius: $input-border-radius;
            color: $color;
            font-size: 14px;
            font-weight: 700;
            padding: $spacing-unit-small;

            .c-nav-tabs--secondary & {
                border-radius: 0;
                border-bottom: 1px solid currentColor;
            }

            &:hover {
                color: darken($color, 20%);
                text-decoration: none;
            }

            &.is-current {
                background-color: $input-background-color;

                color: $global-text-color;
            }
        }

