/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

.c-section {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;

    @include mq(medium) {
        padding-bottom: $spacing-unit-large + 10px;
        padding-top: $spacing-unit-large + 10px;
    }
}

    /**
     * Section title
     */
    .c-section__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.1;

        @include mq(medium) {
            font-size: 34px;
        }

        &:not(:only-child) {
            margin-bottom: $spacing-unit;
        }
    }

    /**
     * Section intro
     */
    .c-section__intro {
        color: #565656;
        max-width: 40em;

        @include mq(extralarge) {
            padding-left: $spacing-unit;
        }
    }

        /**
         * Section description
         */
        .c-section__description {
            white-space: pre-line;

            ul,
            p {
                &:not(:last-child) {
                    margin-bottom: $spacing-unit;
                }
            }
        }

        /**
         * Section hashtags
         */
        .c-section__hashtags {
            margin-top: $spacing-unit-small;

            a {
                color: #565656;
                display: inline-block;
                font-weight: 500;

                &:not(:last-child) {
                    margin-right: $spacing-unit-tiny;
                }

                &:hover {
                    color: color('brand-primary');
                    text-decoration: none;
                }
            }
        }

    /**
     * Section thumbnail
     */
    .c-section__thumbnail {
        border-radius: 4px;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        position: relative;

        @include mq(large) {
            width: 100%;
        }
    }

        .c-section__thumbnail__img {
            background-color: lighten(#000, 10%);
            border-radius: inherit;
            filter: grayscale(25%);

            @include mq(large) {
                width: 100%;
            }
        }

        .c-section__thumbnail__btn[class] {
            background-color: rgba(#000, .6);
            color: #fff;
            display: block;
            text-align: center;
            padding: $spacing-unit-small;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;

            &:hover {
                background-color: color('brand-secondary');
            }
        }


/**
 * Section gray
 */
.c-section--grey {
    background-color: color('light-grey');
}
