/*------------------------------------*\
    #FILE INPUT
\*------------------------------------*/

/**
 * 1. When uploaded image is shown cut its corners to preserve border radius on
 *    `o-file-input`
 */
.c-file-input {
    background-color: $input-background-color;
    border-radius: $input-border-radius;
    border: 1px solid transparent;
    display: block;
    transition: $global-transition;

    &:not(:disabled) {

        &:hover {
            background-color: lighten($input-background-color, 1%);
            border-color: darken($input-background-color, 3%);
            cursor: pointer;
        }

        &.c-input--error {
            border-color: color('red');
        }
    }

    &:disabled {
        opacity: .5;
    }
}

    /**
     * 1. After the image has been uploaded apply a more prominent visual que
     *    for drop area.
     */
    .c-file-input__container {
        border: 1px solid rgba(color('brand-secondary'), 0);
        border-radius: inherit;
        align-items: center;
        display: flex;
        justify-content: center;
        outline: none;
        transition: $global-transition;

        &::before {
            @include invisible;
            border-radius: inherit;
            border: 2px dashed rgba(color('brand-secondary'), 1);
            content: '';
            transition: inherit;
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
            z-index: 200;
        }

        &:focus,
        &:active {
            border-color: rgba(color('brand-secondary'), .5);
        }

        &.is-drag-and-drop-target {
            &::before {
                @include visible;
            }
        }

        .c-file-input__uploaded-img ~ & { /* [1] */
            &::before {
                background-color: rgba(color('brand-secondary'), .5);
                background-clip: padding-box;
            }
        }
    }

    .c-file-input__input {
        @include hidden-visually;
    }

    /**
     * 1. After the image has been uploaded no longer show the content.
     *    Otherwise the content would be shown over the image and that would
     *    "break" the design.
     */
    .c-file-input__content {
        text-align: center;

        span {
            color: color('brand-secondary');
            font-weight: 500;
        }

        .c-file-input__uploaded-img ~ .c-file-input__container & {
            @include invisible; /* [1] */
        }
    }

        .c-file-input__graphic {
            margin-bottom: $spacing-unit-small;
            width: 68px;

            @include mq(medium) {
                margin-bottom: $spacing-unit;
            }
        }

        .c-file-input__annotation {
            color: #afb1b3;
            display: block;
            font-size: 10px;
            font-weight: 700;
            margin-top: $spacing-unit-small;
            text-transform: uppercase;

            @include mq(medium) {
                margin-top: $spacing-unit;
            }
        }


    .c-file-input__upload-progress {
        background-color: color('brand-secondary');
        display: block;
        height: 3px;
        pointer-events: none;
        transition: inherit;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 30;
    }

    .c-file-input__btn-remove-img {
        background-color: rgba(#000, .85);
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        font-weight: 700;
        opacity: .8;
        text-transform: uppercase;
        padding: 3px 4px;
        position: absolute;
        top: $spacing-unit-tiny;
        right: $spacing-unit-tiny;
        z-index: 200;
    }

    /**
     * 1. Enable drag and drop after the image has been uploaded. Since the image
     *    is higher on z-axis than the `.c-file-input__container` we need to
     *    prevent it from obsucring it.
     */
    .c-file-input__uploaded-img {
        border-radius: inherit;
        pointer-events: none; /* [1] */
    }
