/*------------------------------------*\
    #DROPDOWN
\*------------------------------------*/

.c-dropdown {
    position: relative;
}

    .c-dropdown__toggle {
        &:hover {
            cursor: pointer;
        }
    }

    .c-dropdown__toggle--with-arrow {
        $arrow-color: color('dark-grey');
        $arrow-size: 5px;

        padding-right: ($arrow-size + $spacing-unit-small);
        position: relative;

        @include mq($until: medium) {
            padding-right: 0;
        }

        &::after {
            border: $arrow-size solid transparent;
            border-top-color: rgba($arrow-color, .65);
            content: '';
            display: block;
            height: 0;
            pointer-events: none;
            transition: inherit;
            width: 0;
            position: absolute;
            top: calc(50% - #{$arrow-size / 2});
            right: 0;

            @include mq($until: medium) {
                display: none;
            }
        }
    }

    .c-dropdown__menu {
        user-select: none;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid color('grey');
        margin-top: $spacing-unit-tiny;
        min-width: 150px;
        padding: $spacing-unit-tiny $spacing-unit-small;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;

        ul {
            list-style-type: none;
        }

        &--wide {
            min-width: 400px;
        }
    }

    .c-dropdown__menu--wide {
        min-width: 400px;
    }

        .c-dropdown__menu__link {
            color: #9ea0a3;
            display: block;
            font-size: 13px;
            padding: $spacing-unit-tiny;
            transition: $global-transition;
            white-space: nowrap;

            &:hover {
                color: #242424;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .c-dropdown__menu__link--highlighted {
            color: color('brand-secondary');
            font-weight: 500;

            &:hover {
                color: darken(color('brand-secondary'), 10%);
            }
        }

        .c-dropdown__menu__footer {
            margin-top: $spacing-unit-tiny;
            text-align: center;
        }
