/*------------------------------------*\
    #VIDEO LINK PREVIEW
\*------------------------------------*/

.c-video-link-preview {
    border-radius: $global-border-radius;
    padding: $spacing-unit-tiny;
    transition: $global-transition;
    margin-left: -$spacing-unit-small;

    @include mq(medium) {
        padding: $spacing-unit-small;
    }

    &:hover,
    &:active {
        background-color: color('light-grey');

        .c-input {
            &:not(:focus),
            &:not(:active) {
                background-color: darken($input-background-color, 4%);
            }

            &:focus {
                background-color: #fff;
            }
        }
    }
}

    .c-video-link-preview__thumbnail {
        border-radius: $global-border-radius;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
    }

    .c-video-link-preview__thumbnail__btn[class] {
        background-color: rgba(#000, .7);
        color: #fff;
        display: block;
        text-align: center;
        padding: $spacing-unit-tiny 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;

        &:hover {
            background-color: color('brand-secondary');
        }
    }
