/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

$tweakpoint-video-condensed:        medium;





.c-video {
    display: block;
    position: relative;

    .c-player-playlist & {
        padding-top: round($spacing-unit / 2);
        padding-bottom: round($spacing-unit / 2);

        &.is-current {
            background-color: rgba(#000, .1);
            box-sizing: content-box;
            padding-left: $player-playlist-content-padding;
            padding-right: $player-playlist-content-padding;
            width: 100%;
            position: relative;
            left: -$player-playlist-content-padding;
        }
    }
}

.c-video--condensed {
    @include mq($until: $tweakpoint-video-condensed) {
        display: flex;

        .c-thumbnail {
            flex: 0 0 auto;
            margin-bottom: 0;
            width: 40%;
        }

        .c-thumbnail__duration-indicator {
            display: none;
        }
    }
}

    .c-video--condensed__text {
        @include mq($until: $tweakpoint-video-condensed) {
            margin-left: $spacing-unit-small;
        }
    }

    .c-video--condensed__duration {
        background-color: color('grey');
        border-radius: 2px;
        color: color('dark-grey');
        display: none;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.2;
        padding: 2px 4px;

        @include mq($until: $tweakpoint-video-condensed) {
            display: inline-block;
        }
    }



    /**
     * Video title
     *
     * 1. When titles are longer it doesn't look if they go all the way to the
     *    end of the line. So let's make sure there are some breathing room.
     */
    .c-video__title {
        $font-size: 15px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: $max-number-of-lines;
        color: $global-text-color;
        display: block;
        display: -webkit-box;
        font-size: $font-size;
        font-weight: 500;
        margin-bottom: 0;
        max-height: round($max-height);
        overflow: hidden;
        padding-right: $spacing-unit-tiny; /* [1] */
        text-overflow: ellipsis;
        transition: $global-transition;

        &:not(:last-child) {
            margin-bottom: $spacing-unit-tiny - 2;
        }

        a {
            &:hover {
                color: color('brand-primary');
                text-decoration: none;
            }
        }

        .c-player-playlist & {
            $font-size: 14px;
            $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

            font-size: $font-size;
            font-weight: 700;
            max-height: round($max-height);
        }

        .c-video--condensed & {
            $max-number-of-lines: 3;
            $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

            @include mq($until: $tweakpoint-video-condensed) {
                -webkit-line-clamp: $max-number-of-lines;
                font-size: $font-size;
                max-height: round($max-height);
                margin-top: 0;
                padding-right: 0;
            }
        }

    }

    .c-video__title--large {
        $font-size: 16px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

        font-size: $font-size;
        max-height: round($max-height);
        overflow: hidden;
    }

    /**
     * Video description
     */
    .c-video__description {
        $font-size: 13px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height) * $max-number-of-lines;

        display: block;
        font-size: $font-size;
        max-height: round($max-height);
        overflow: hidden;
    }

    /**
     * Video category
     */
    .c-video__category {
        color: #afb1b3;
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;
        margin-top: $spacing-unit-small;
        text-transform: uppercase;

        a {
            color: inherit;

            &:hover {
                color: color('brand-primary');
                text-decoration: none;
            }
        }
    }

    /**
     * Bookmark video
     */
    .c-video__bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &:hover {
            font-size: 20px;
        }
    }

    /**
     * Video footer
     */
    .c-video__footer {
        color: #afb1b3;
        font-size: 13px;
        font-weight: 500;
    }
