/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * 1. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing (use with care!).
 * 2. Reset browser defaults.
 * 3. Force all button-styled elements to indicate they are clickable.
 */
.c-btn {
    @include font-smoothing; /* [1] */
    background: none;
    border: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin: 0; /* [2] */
    padding: 1em 1.9em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: $global-transition;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    will-change: transform;

    &:hover {
        cursor: pointer; /* [3] */
        text-decoration: none;
    }

    &:disabled {
        cursor: default;
        opacity: .6;
    }

    &.c-btn--padding-small {
        padding: .5em 1.2em;
    }

    &.c-btn--small {
        font-size: 12px;
    }

    &.c-btn--large {
        font-size: 15px;
    }
}

/**
 * Primary button.
 */
.c-btn--primary {
    background-color: color('brand-primary');
    border: 1px solid color('brand-primary');
    border-radius: 40px;
    color: #fff;

    &:disabled {
        background-color: color('grey');
        border-color: color('grey');
        color: color('dark-grey');
    }

    &:not(:disabled) {
        &:hover {
            background-color: darken(color('brand-primary'), 6%);
            border-color: darken(color('brand-primary'), 6%);
        }
    }
}

/**
 * Secondary button.
 */
.c-btn--secondary {
    background-color: color('brand-secondary');
    border: 1px solid color('brand-secondary');
    color: #fff;
    border-radius: 40px;

    &:disabled {
        background-color: color('grey');
        border-color: color('grey');
        color: color('dark-grey');
    }

    &:not(:disabled) {
        &:hover {
            background-color: darken(color('brand-secondary'), 6%);
            border-color: darken(color('brand-secondary'), 6%);
        }
    }
}

/**
 * Button with download icon.
 */
.c-btn--with-icon {
    align-items: center;
    display: inline-flex;
}

/**
 * Square button.
 */
.c-btn--square {
    border-radius: $input-border-radius;
    padding: 1em;
}

/**
 * Hollow (or ghost) button.
 */
.c-btn--hollow {
    background-color: transparent;
    border: 2px solid currentColor;

    &:not(:disabled) {
        &:hover {
            background-color: transparent;
        }
    }

    &.c-btn--primary {
        color: color('brand-primary');

        &:not(:disabled) {
            &:hover {
                color: darken(color('brand-primary'), 6%);
            }
        }
    }

    &.c-btn--secondary {
        color: color('brand-secondary');

        &:not(:disabled) {
            &:hover {
                color: darken(color('brand-secondary'), 6%);
            }
        }
    }
}

/**
 * Plain button, similar to a link.
 */
.c-btn--plain {
    background-color: transparent;
    color: color('dark-grey');
    border: none;
    padding: 0;

    &:not(:disabled) {
        &:hover {
            background-color: transparent;
        }

        &:active {
            transform: translateY(1px);
        }
    }

    &.c-btn--primary {
        color: color('brand-primary');
    }

    &.c-btn--secondary {
        color: color('brand-secondary');
    }

    &.c-btn--small {
        font-size: 13px;
        font-weight: 500;
    }

    &.c-btn--tiny {
        font-size: 11px;
        font-weight: 500;
    }
}


/**
 * Social login buttons.
 */
.c-btn--social {
    align-items: center;
    border-radius: 40px;
    display: inline-flex;
    font-weight: 500;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

    .c-btn--social__logo {
        margin-right: $spacing-unit-small;
    }

.c-btn--social--google {
    $color: color('dark-grey');

    border: 1px solid color('grey');
    color: $color;

    &:not(:disabled) {
        &:hover {
            background-color: color('light-grey');
            border-color: darken(color('grey'), 4%);
            color: darken($color, 5%);
        }
    }
}


/**
 * Vote (like/dislike) buttons.
 */
.c-btn--vote {
    color: #8a8a8a;
    padding: 0;

    &.is-active {
        color: color('brand-secondary');
    }

    &:disabled {
        opacity: 1;
    }
}



/**
 * Full width buttons.
 *
 * 1. Force 100% width for <button> in some browsers.
 */
.c-btn--full {
    box-sizing: border-box;
    display: block;
    width: 100%; /* [1] */
}
