/*------------------------------------*\
    #PLAYER PLAYLIST
\*------------------------------------*/

$player-playlist-content-width:         260px;





.c-player-playlist {
    background-color: rgba(#000, .8);
    height: 100vh;
    color: #fff;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
}

    .c-player-playlist__btn-hide {
        background-color: rgba(#000, .5);
        color: #fff;
        padding: $spacing-unit-small 1.25em $spacing-unit-small 1em;
        position: absolute;
        right: $player-playlist-content-width;
        top: 0;
    }

    .c-player-playlist__content {
        animation: animate-playlist-content .2s ease;
        background-color: rgba(#fff, .85);
        height: 100%;
        overflow-y: scroll;
        padding: $spacing-unit;
        will-change: transform;
        width: $player-playlist-content-width;
        position: absolute;
        top: 0;
        right: 0;

        /**
         * Total scrollbar width
         */
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 6px;
        }

        /**
         * Background of the scrollbar except button or resizer
         */
        &::-webkit-scrollbar-track {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        /**
         * Scrollbar itself
         */
        &::-webkit-scrollbar-thumb {
            background: rgba(#000, .5);
            border-radius: 10px;
        }

        @at-root {
            @keyframes animate-playlist-content {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }
    }
