/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.c-logo {
    display: inline-block;
    height: 30px;
    transition: $global-transition;

    &:hover {
        text-decoration: none;
    }

    &:active {
        transform: translateY(1px);
    }

    @include mq($until: 395px) {
        height: 26px;
    }
}

    .c-logo__img {
        height: 100%;
        width: auto;
    }
