/*------------------------------------*\
    #HERO
\*------------------------------------*/

.c-header {
    background-color: #fff;
    border-bottom: 1px solid color('grey');
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .has-promotion-message & {
        top: $promotion-message-height;
    }

    @include mq($until: ($tweakpoint-nav-primary-medium - 1)) {
        border-bottom: none;
    }
}

    .c-header__grid {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        max-width: 1400px;
    }

        .c-header__grid__item {
            flex: 0 0 auto;

            &:not(:last-child) {
                margin-right: $spacing-unit;

                @include mq($until: $tweakpoint-small-mobile) {
                    margin-right: 0;
                }
            }

        }

        .c-header__grid__item--right {
            margin-left: auto;
        }

        .c-header__avatar[class] {
            @include mq($until: $tweakpoint-small-mobile) {
                font-size: 32px;
            }
        }

        .c-header__hide-on-extrasmallscreen {
            @include mq($until: $tweakpoint-small-mobile) {
                display: none;
            }
        }

        .c-header__btn-cta__icon {
            @include mq($until: $tweakpoint-nav-primary-extralarge) {
                font-size: 22px;
            }
        }

        .c-header__btn-cta__label {
            margin-left: $spacing-unit-tiny;

            @include mq($until: $tweakpoint-nav-primary-extralarge) {
                display: none;
            }
        }

        .c-header__icon-notification {
            @include mq($until: medium) {
                font-size: 22px;
            }
        }

        .c-header__btn-register {
            padding: .5em 1em;

            @include mq(large) {
                padding: .8em 1.25em;
            }
        }
