/*------------------------------------*\
    #HERO
\*------------------------------------*/

$tweakpoint-hero:                   645px;
$tweakpoint-hero-medium:            770px;
$tweakpoint-hero-large:             900px;
$tweakpoint-hero-extralarge:        1140px;





.c-hero {
    font-size: 17px;
    padding-top: $spacing-unit-large;
    text-align: center;

    @include mq(medium) {
        padding-bottom: $spacing-unit-large;
    }

    @include mq($tweakpoint-hero) {
        text-align: left;
    }

    p {
        color: #565656;
        margin-bottom: $spacing-unit;

        @include mq($tweakpoint-hero) {
            margin-bottom: 34px;
        }
    }
}

    .c-hero__grid__cell {
        @include mq($tweakpoint-hero) {
            width: 50%;
        }
    }

    .c-hero__graphic {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include mq($until: $tweakpoint-hero - 1) {
            margin-top: $spacing-unit-large;
            width: 80%;
        }
    }

    /**
     * Hero title
     */
    .c-hero__title {
        font-size: 30px;
        font-weight: 700;

        @include mq($tweakpoint-hero) {
            font-size: 32px;
        }

        @include mq($tweakpoint-hero-medium) {
            font-size: 42px;
        }

        @include mq($tweakpoint-hero-large) {
            font-size: 48px;
        }

        @include mq($tweakpoint-hero-extralarge) {
            font-size: 64px;
        }
    }
