/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

.c-section {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;

    @include mq(medium) {
        padding-bottom: $spacing-unit-large + 10px;
        padding-top: $spacing-unit-large + 10px;
    }
}

.c-section--small {
    @include mq(medium) {
        padding-bottom: $spacing-unit-large;
        padding-top: $spacing-unit-large;
    }
}

    /**
     * Section title
     */
    .c-section__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.1;

        @include mq(medium) {
            font-size: 34px;
        }

        &:not(:only-child) {
            margin-bottom: $spacing-unit-tiny;
        }
    }

    /**
     * Section intro
     */
    .c-section__intro {
        color: #565656;
        max-width: 40em;

        @include mq(extralarge) {
            padding-left: $spacing-unit;
        }
    }

        .c-section__details {
            margin-bottom: $spacing-unit-tiny;

            a {
                color: inherit;
                font-weight: 500;

                &:hover {
                    color: color('brand-secondary');
                    text-decoration: none;
                }
            }
        }

        .c-section__details__time {
            color: #afb1b3;
        }

        .c-section__rate {
            margin-bottom: $spacing-unit;
        }

        /**
         * Section description
         */
        .c-section__description {
            white-space: pre-line;

            ul,
            p {
                &:not(:last-child) {
                    margin-bottom: $spacing-unit;
                }
            }
        }

        .c-section__description--long {
            max-height: 200px;
            overflow: hidden;
            position: relative;

            &:before {
                content:'';
                width:100%;
                height:100%;
                position:absolute;
                left:0;
                top:0;
                background:linear-gradient(transparent 150px, white);
            }
        }

        .description--expand {
            color: blue;
            cursor: pointer;
        }

        /**
         * Section hashtags
         */
        .c-section__hashtags {
            margin-top: $spacing-unit-small;

            a {
                color: #565656;
                display: inline-block;
                font-weight: 500;

                &:not(:last-child) {
                    margin-right: $spacing-unit-tiny;
                }

                &:hover {
                    color: color('brand-secondary');
                    text-decoration: none;
                }
            }
        }

    /**
     * Section thumbnail
     */
    .c-section__thumbnail {
        border-radius: 4px;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        width: 100%;
        position: relative;

        @include mq($from: 680px, $until: large) {
            width: 65%;
        }

        &::before {
            box-shadow:  inset 1px 1px 80px 0px rgba(#333, .08);
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;

        }
    }

        .c-section__thumbnail__img {
            background-color: lighten(#000, 10%);
            border-radius: inherit;
            filter: grayscale(25%);
            width: 100%;
        }

        .c-section__thumbnail__btn[class] {
            background-color: rgba(#000, .7);
            color: #fff;
            display: block;
            text-align: center;
            padding: $spacing-unit-small;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 200;

            &:hover {
                background-color: color('brand-secondary');
            }
        }

        .c-section__thumbnail__details {
            position: absolute;
            top: $spacing-unit-small;
            right: $spacing-unit-small;
            z-index: 200;

            span {
                background-color: rgba(#000, .8);
                border-radius: 2px;
                color: #fff;
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.2;
                padding: 2px 4px;
                pointer-events: none;
                transition: inherit;
                vertical-align: middle;

                &:not(:last-child) {
                    margin-right: $spacing-unit-tiny;
                }
            }
        }


/**
 * Section gray
 */
.c-section--grey {
    background-color: color('light-grey');
}
