/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.c-video {
    display: block;

    &:not(:last-child) {
        margin-bottom: $spacing-unit;
    }

    &.is-current {
        /* MUCH CSS */
        /* SUCH STYLES */
        /* WOW */
        border: 3px solid pink;
        background-color: gray;
    }
}

    /**
     * Video title
     *
     * 1. When titles are longer it doesn't look if they go all the way to the
     *    end of the line. So let's make sure there are some breathing room.
     */
    .c-video__title {
        $font-size: 14px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

        color: #3a5161;
        display: block;
        font-size: $font-size;
        font-weight: 700;
        margin-bottom: $spacing-unit-tiny - 2;
        max-height: round($max-height);
        overflow: hidden;
        padding-right: $spacing-unit-tiny; /* [1] */
        transition: $global-transition;

        a {
            &:hover {
                color: color('brand-primary');
                text-decoration: none;
            }
        }

    }

    .c-video__title--large {
        $font-size: 16px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

        font-size: $font-size;
        margin-bottom: $spacing-unit-tiny - 2;
        max-height: round($max-height);
        overflow: hidden;
    }

    /**
     * Video description
     */
    .c-video__description {
        $font-size: 13px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height) * $max-number-of-lines;

        display: block;
        font-size: $font-size;
        max-height: round($max-height);
        overflow: hidden;
    }

    /**
     * Video category
     */
    .c-video__category {
        color: #afb1b3;
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;
        margin-top: $spacing-unit-small;
        text-transform: uppercase;
    }

    /**
     * Video footer
     */
    .c-video__footer {
        color: #afb1b3;
        font-size: 13px;
        font-weight: 500;
    }
