/*------------------------------------*\
    #SEARCH FORM
\*------------------------------------*/

$tweakpoint-search-form:                    640px;
$tweakpoint-search-form-large:              815px;
$tweakpoint-search-form-extralarge:         extralarge;

$search-from-button-width:                  46px;





.c-search-form {
    width: 200px;
    position: relative;

    @include mq($until: $tweakpoint-search-form-large) {
        display: none;
    }

    @include mq($tweakpoint-search-form-extralarge) {
        width: 220px;
    }
}

    .c-search-form__input {
        padding-left: $search-from-button-width;
        padding-top: $spacing-unit-small;
        padding-bottom: $spacing-unit-small;
        width: 100%;
    }

    .c-search-form__btn {
        background: none;
        border-radius: 0;
        padding: 0;
        text-align: center;
        width: $search-from-button-width;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        .o-icon {
            font-size: 18px;
        }
    }
