.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 60px;

    &__left {
        display: flex;
        width: 160px;
        justify-content: space-between;
    }

    &__right {
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
}