/*------------------------------------*\
    #SHAME
\*------------------------------------*/

.o-grid--auto {
    > .o-grid__cell {
        flex: 0 0 auto;
        width: auto;
    }
}

.o-grid {

    & > .o-grid__cell--shrink {
        flex: 0 1 auto;
        min-width: 0;
    }
}

dl {
    font-size: 13px;
    font-weight: 700;

    dt {
        color: #afb1b3;
        font-size: 11px;
        text-transform: uppercase;
    }
}

.c-header {
    background-color: #fff;
    border-bottom: 1px solid color('grey');
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

    .c-header__grid {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        max-width: 1400px;
    }

        .c-header__grid__item {
            flex: 0 0 auto;

            &:not(:last-child) {
                margin-right: $spacing-unit;
            }
        }

        .c-header__grid__item--right {
            margin-left: auto;
        }

/* HACK - fixes plyr tooltip when hovering scrubber by hiding the buffering progress */
.plyr__progress--buffer {
    display: none;
}
/* HACK - fixes plyr volume buttons misbehaving */
.plyr__volume {
    display: flex;
    align-items: center;
    max-width: 112px;
}

/* HACK - fixes plyr volume buttons misbehaving */
.plyr__volume {
    display: flex;
    align-items: center;
    max-width: 112px;
}
.plyr__poster {
    pointer-events: none;
}

.button-back {
    background-color: rgba(#000, .6);
    color: #fff;
    font-size: 24px;
    padding: $spacing-unit-small 14px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
}


.c-share {
    display: inline-flex;
    position: relative;
}

    .c-share__btn {
        color: color('dark-grey');
        padding: 0;
    }

    .c-share__socials {
        @include invisible;
        align-items: center;
        background-color: #fff;
        border: 1px solid color('grey');
        border-radius: 4px;
        display: flex;
        margin-bottom: $spacing-unit-small;
        padding: $spacing-unit-tiny;
        transform: translate(-50%, 5px);
        transition: $global-transition;
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 300;

        .c-share.is-active & {
            @include visible;
            transform: translate(-50%, 0);
        }
    }

    .c-share__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: $spacing-unit-tiny;
        }

        &:hover {
            cursor: pointer;
        }
    }




.c-progress-highlight {
    color: color('brand-primary');
    font-size: 12px;
    font-weight: 700;
}

.o-wrapper--narrow {
    max-width: 500px;
}

.c-form {}

    .c-form__title {
        color: color('dark-grey');
        font-size: 22px;
        font-weight: 400;
        margin-bottom: $spacing-unit-large;
    }

    .c-form__list {
        list-style-type: none;

        li {
            &:not(:last-child) {
                margin-bottom: $spacing-unit-large;
            }
        }
    }

    .c-form__label {
        display: block;
        font-weight: 700;
        margin-bottom: $spacing-unit-tiny;
    }

    .c-form__annotation {
        display: block;
        color: #afb1b3;
        font-size: 13px;
        font-weight: 500;
        margin-top: $spacing-unit-tiny;
        padding-left: $spacing-unit-tiny;
        padding-right: $spacing-unit-tiny;
    }

.c-no-results {
    color: color('dark-grey');
    font-weight: 500;
    padding-top: $spacing-unit-large;
    padding-bottom: $spacing-unit-large;
    text-align: center;

    a {
        color: color('brand-primary');
        font-weight: 700;
    }
}

    .c-no-results__img {
        display: block;
        margin-bottom: $spacing-unit-large;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;

        @include mq(medium) {
            max-width: 400px;
        }

        @include mq(large) {
            max-width: 500px;
            margin-bottom: $spacing-unit-huge;
        }
    }


.c-thank-you {
    color: color('dark-grey');
    font-weight: 500;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    text-align: center;

    a:not(.c-btn) {
        color: color('brand-primary');
        font-weight: 700;
    }
}

    .c-thank-you__img {
        display: block;
        margin-bottom: $spacing-unit-large;
        margin-left: auto;
        margin-right: auto;
        max-width: 65%;

        @include mq(medium) {
            max-width: 300px;
        }

        @include mq(large) {
            max-width: 400px;
            margin-bottom: $spacing-unit-large;
        }
    }


.c-categories-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: $spacing-unit;
    grid-template-columns: repeat(2, 1fr);

    @include mq(medium) {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}


$tweakpoint-category:   large;

.c-category {
    $border-color: #dfdfdf;

    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: $spacing-unit $spacing-unit-small;
    text-align: center;
    transition: $global-transition;

    &:hover {
        text-decoration: none;
    }

    @include mq($tweakpoint-category) {
        &:hover {
            border-color: rgba($border-color, .5);
            box-shadow: 0 3px 10px 0 rgba(#111214, .2);
        }
    }

}

    .c-category__graphic {
        display: block;
        height: 1em;
        font-size: 68px;
        margin-bottom: $spacing-unit;
        margin-left: auto;
        margin-right: auto;
        width: 1em;
        position: relative;

        @include mq(medium) {
            font-size: 86px;
        }

        img {
            transition: $global-transition;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;

            &:last-child {
                @include invisible;
                z-index: 20;

                .c-category:hover & {
                    @include visible;
                }
            }
        }
    }

    .c-category__title {
        font-size: 14px;
        text-transform: uppercase;
    }


.c-heading-delimiter {
    color: #afb1b3;
}
