/*------------------------------------*\
    #SHAME
\*------------------------------------*/

.o-grid--auto {
    > .o-grid__cell {
        flex: 0 0 auto;
        width: auto;
    }
}

.o-grid--nowrap {
    flex-wrap: nowrap;
}

.o-grid {

    & > .o-grid__cell--shrink {
        flex: 0 1 auto;
        min-width: 0;
    }
}

.o-grid {

    & > .o-grid__cell--grow {
        flex: 1 0 auto;
        min-width: 0;
    }
}

.c-video-link-preview {
    border-radius: $global-border-radius;
    padding: $spacing-unit-tiny;
    transition: $global-transition;
    margin-left: -$spacing-unit-small;

    @include mq(medium) {
        padding: $spacing-unit-small;
    }

    &:hover,
    &:active {
        background-color: color('light-grey');

        .c-input {
            &:not(:focus),
            &:not(:active) {
                background-color: darken($input-background-color, 4%);
            }

            &:focus {
                background-color: #fff;
            }
        }
    }
}

    .c-video-link-preview__thumbnail {
        border-radius: $global-border-radius;
    }

.c-faux-link {
    display: inline-block;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

/**
 * Horizontal rules
 */
hr {
    background-color: none;
    border: none;
    border-bottom: 1px solid color('grey');
    height: 1px;
    margin-bottom: $spacing-unit;
}

dl {
    font-size: 13px;
    font-weight: 700;

    dt {
        color: #afb1b3;
        font-size: 11px;
        text-transform: uppercase;
    }

    a {
        color: inherit;

        &:hover {
            color: color('brand-primary');
            text-decoration: none;
        }
    }
}

.c-header {
    background-color: #fff;
    border-bottom: 1px solid color('grey');
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .has-promotion-message & {
        top: $promotion-message-height;
    }

    @include mq($until: ($tweakpoint-nav-primary-medium - 1)) {
        border-bottom: none;
    }
}

    .c-header__grid {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        max-width: 1400px;
    }

        .c-header__grid__item {
            flex: 0 0 auto;

            &:not(:last-child) {
                margin-right: $spacing-unit;
            }
        }

        .c-header__grid__item--right {
            margin-left: auto;
        }

        .c-header__hide-on-extrasmallscreen {
            @include mq($until: 395px) {
                display: none;
            }
        }

        .c-header__btn-cta__icon {
            @include mq($until: medium) {
                font-size: 22px;
            }
        }

        .c-header__btn-cta__label {
            margin-left: $spacing-unit-tiny;

            @include mq($until: medium) {
                display: none;
            }
        }

        .c-header__btn-register {
            padding: .5em 1em;

            @include mq(large) {
                padding: .8em 1.25em;
            }
        }

/* HACK - fixes plyr tooltip when hovering scrubber by hiding the buffering progress */
.plyr__progress--buffer {
    display: none;
}
/* HACK - fixes plyr volume buttons misbehaving */
.plyr__volume {
    display: flex;
    align-items: center;
    max-width: 112px;
}
.plyr--paused .plyr__poster {
    pointer-events: none;
}

.button-back {
    background-color: rgba(#000, .6);
    color: #fff;
    font-size: 24px;
    padding: $spacing-unit-small 14px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
}


.c-share {
    display: inline-flex;
    position: relative;
}

    .c-share__btn {
        color: #9ea0a3;
        padding: 0;

        &:hover,
        .c-share.is-active & {
            color: #1e1e1e;
        }
    }

    .c-share__socials {
        @include invisible;
        align-items: center;
        background-color: #fff;
        border: 1px solid color('grey');
        border-radius: 4px;
        display: flex;
        margin-bottom: $spacing-unit-small;
        padding: $spacing-unit-tiny;
        transform: translate(-50%, 5px);
        transition: $global-transition;
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 300;

        .c-share.is-active & {
            @include visible;
            transform: translate(-50%, 0);
        }
    }

    .c-share__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: $spacing-unit-tiny;
        }

        &:hover {
            cursor: pointer;
        }
    }




.c-progress-highlight {
    color: color('dark-grey');
    font-size: 12px;
    font-weight: 700;
}

.o-wrapper--narrow {
    max-width: 500px;
}

.o-wrapper--middle {
    max-width: 770px;
}

.c-form {}

    .c-form__title {
        color: color('dark-grey');
        font-size: 22px;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: $spacing-unit-large;
        }
    }

    .c-form__list {
        list-style-type: none;

        li {
            &:not(:last-child) {
                margin-bottom: $spacing-unit;
            }
        }
    }

    .c-form__list--small {
        li {
            &:not(:last-child) {
                margin-bottom: $spacing-unit-small;
            }
        }
    }

    .c-form__list--large {
        li {
            &:not(:last-child) {
                margin-bottom: $spacing-unit-large;
            }
        }
    }

    .c-form__label {
        display: block;
        font-weight: 700;
        margin-bottom: $spacing-unit-tiny;
    }

    .c-form__annotation {
        color: #afb1b3;
        display: block;
        font-size: 13px;
        font-weight: 500;
        margin-top: $spacing-unit-tiny;
        padding-left: $spacing-unit-tiny;
        padding-right: $spacing-unit-tiny;
    }

.c-no-results {
    color: color('dark-grey');
    font-weight: 500;
    padding-top: $spacing-unit-large;
    padding-bottom: $spacing-unit-large;
    text-align: center;

    @include mq($until: 360px) {
        br {
            display: none;
        }
    }

    a {
        color: color('brand-secondary');
        font-weight: 700;
    }
}

    .c-no-results__img {
        display: block;
        margin-bottom: $spacing-unit-large;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;

        @include mq(medium) {
            max-width: 400px;
        }

        @include mq(large) {
            max-width: 500px;
            margin-bottom: $spacing-unit-huge;
        }
    }


.c-thank-you {
    color: color('dark-grey');
    font-weight: 500;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    text-align: center;

    p:not(:last-child) {
        margin-bottom: $spacing-unit;
    }

    a:not(.c-btn) {
        color: color('brand-primary');
        font-weight: 700;
    }
}

    .c-thank-you__img {
        display: block;
        margin-bottom: $spacing-unit-large;
        margin-left: auto;
        margin-right: auto;
        max-width: 65%;

        @include mq(medium) {
            max-width: 300px;
        }

        @include mq(large) {
            max-width: 400px;
            margin-bottom: $spacing-unit-large;
        }
    }


.c-categories-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: $spacing-unit;
    grid-template-columns: repeat(2, 1fr);

    @include mq(medium) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.c-categories-grid--home {
    $tweakpoint: 1080px;

    @include mq($from: medium, $until: $tweakpoint) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @include mq($from: large, $until: $tweakpoint) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq($tweakpoint) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.c-categories-grid--hashtags {
    grid-gap: $spacing-unit-small;

    @include mq($until: 350px) {
        grid-gap: $spacing-unit-tiny;
    }
}


$tweakpoint-category:   large;

.c-category {
    $border-color: #dfdfdf;

    background-color: #fff;
    border: 1px solid $border-color;
    color: #8b8b8b;
    border-radius: 4px;
    font-size: 12px;
    padding: $spacing-unit $spacing-unit-small;
    text-align: center;
    transition: $global-transition;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    @include mq($tweakpoint-category) {
        &:hover {
            border-color: rgba($border-color, .5);
            box-shadow: 0 3px 10px 0 rgba(#111214, .2);
        }
    }

    .c-categories-grid--hashtags & {
        padding-left: 3px;
        padding-right: 3px;
    }

    &:hover {
        text-decoration: none;
    }

    &.is-selected {
        background-color: color('light-grey');
        border: 1px solid color('green');
    }
}

    .c-category__graphic {
        font-size: 68px;
        margin-bottom: $spacing-unit;
        margin-left: auto;
        margin-right: auto;

        @include mq(medium) {
            font-size: 86px;
        }
    }

    .c-category__title {
        font-size: 13px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: $spacing-unit-tiny;
        }

        .c-categories-grid--hashtags & {
            @include mq($until: 350px) {
                font-size: 12px;
            }
        }
    }


.c-heading-delimiter {
    color: #afb1b3;
}

.c-link-secondary {
    color: #afb1b3;
    font-size: 14px;
    font-weight: 500;

    &:hover {
        color: color('brand-primary');
        text-decoration: none;
    }
}

.c-annotation {
    color: #afb1b3;
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.c-time {
    color: #afb1b3;
    display: inline;
    font-size: 12px;
    font-weight: 500;
    margin-left: 3px;
}

.c-inline-message {}

.c-inline-message--error {
    color: color('red');
}

.has-header {
    padding-top: $header-height;

    @include mq($until: ($tweakpoint-nav-primary-medium - 1)) {
        padding-top: ($header-height + $nav-height);
    }
}

.has-promotion-message {
    padding-top: ($promotion-message-height + $header-height);

    @include mq($until: ($tweakpoint-nav-primary-medium - 1)) {
        padding-top: ($promotion-message-height + $header-height + $nav-height);
    }
}


/* TOAST FADE STUFF */
.fade-enter {
    opacity: 0.01;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.c-toasts {
    max-width: 600px;
    margin-top: $spacing-unit;
    padding-left: 5px;
    padding-right: 5px;
    transform: translateX(-50%);
    width: 100%;
    position: fixed;
    top: $header-height;
    left: 50%;
    z-index: 1000;

    @include mq($until: ($tweakpoint-nav-primary-medium - 1)) {
        margin-top: 5px;
        top: ($header-height + $nav-height);
    }
}

    .c-toasts__toast {
        &:not(:last-child) {
            margin-bottom: $spacing-unit-tiny;
        }
    }


.c-alert {
    border-radius: $input-border-radius;
    color: #fff;
    padding: $spacing-unit-small;
    padding-right: $spacing-unit-large;
    position: relative;

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.c-alert--success {
    background-color: color('alert-success');
}

.c-alert--error {
    background-color: color('alert-error');
}

.c-alert--warning {
    background-color: color('alert-warning');
}

.c-alert--info {
    background-color: color('alert-info');
}

    .c-alert__close {
        position: absolute;
        top: $spacing-unit-small;
        right: $spacing-unit-small;

        &:hover {
            cursor: pointer;
        }
    }

    .c-alert__title {
        color: inherit;
        font-size: $font-size-h5;

        &:not(:last-child) {
            margin-bottom: $spacing-unit-tiny;
        }
    }

    .c-alert__btn[class] {
        border-bottom: 1px solid currentColor;
        color: inherit;
        display: inline;
        line-height: inherit;
        padding: 0;

        &:hover {
            border-bottom-color: transparent;
        }
    }


.c-btn--delete-playlist {
    @include mq($until: 560px) {
        .c-btn__label {
            display: none;
        }
    }
}

.u-white-space-pre-line {
    white-space: pre-line;
}

.c-promotion-message {
    background-color: #1e1e1e;
    color: #fff;
    height: $promotion-message-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
}

    .c-promotion-message__grid {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }

    .c-promotion-message__text {
        color: #e40e9d;
        font-weight: 500;

        @supports (background-clip: text) or (-webkit-background-clip: text) {
            background: linear-gradient(to right, #6a5ac7 10%, #df474d 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        a {
            $color: #df474d;

            border-radius: 40px;
            border: 2px solid $color;
            color: $color;
            font-size: 13px;
            display: inline-block;
            margin-left: $spacing-unit-tiny;
            padding: 0 $spacing-unit-tiny;
            vertical-align: middle;

            &:hover {
                background-color: $color;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .c-promotion-message__img {
        margin-right: $spacing-unit-small;

        @include mq($until: 400px) {
            display: none;
        }
    }

.c-article {
    ul,
    ol,
    p {
        &:not(:last-child) {
            margin-bottom: $spacing-unit;
        }
    }

    ol {
        list-style-position: inside;
    }
}

/* AUTOCOMPLETE RELATED CODE */
.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;

    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: #B1B1B1;
}

.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__selected-tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    border-color: #B1B1B1;
}

.react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {

    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }

}

.react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__search input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {

    .react-tags__suggestions {
        width: 240px;
    }

}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}
/* END AUTOCOMPLETE RELATED CODE */
