/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $global-text-color;
    font-weight: 700;
    line-height: 1.2;

    &:not(:last-child) {
        margin-bottom: $spacing-unit;
    }

    > a {
        color: inherit;
        font-weight: inherit;
    }
}
