/*------------------------------------*\
    #PAGE
\*------------------------------------*/

/**
 * High-, page-level styling.
 *
 * 1. Override default inuitcss styles since in this case we don't want that
 *    kind of behaviour.
 */
html {
    @include font-smoothing;
    background-color: $global-background-color;
    color: $global-text-color;
    font-family: $global-font-family;
    font-weight: 400;
    overflow-y: auto; /*[1] */
}

/**
 * 1. Prevent elements "bleeding out" of the viewport to create horizontal
 *    scroll in Chrome and on iOS.
 */
body {
    background-color: inherit;
    overflow-x: hidden; /* [1] */
    padding-top: $header-height;
}
