.wrapper {
    display: flex;

    &__content {
        width: 100%;
    }
}

.video__container {
    display: flex;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }

    img {
        width: 190px;
        height: 110px;
        border: 1px solid gray;
    }
}
