/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/


// High-level base settings.
$global-background-color:               #fff;
$global-font-family:                    'Roboto', sans-serif;
$global-font-size:                      14px;
$global-line-height:                    20px;
$global-link-color:                     #5f7cea;
$global-text-color:                     #1d1d1d;
$global-border-radius:                  2px;
$global-transition:                     all .2s ease;

// Inuit settings.
//
// Annotation: Some of these settings are later aliased in
// `_settings.aliases.scss` for easier use in the rest of the project.
$inuit-global-font-size:                $global-font-size;
$inuit-global-line-height:              $global-line-height;

$inuit-global-spacing-unit:             20px;
$inuit-global-spacing-unit-large:       $inuit-global-spacing-unit * 2;
$inuit-global-spacing-unit-huge:        $inuit-global-spacing-unit * 3;


$inuit-font-size-h1:                    36px;
$inuit-font-size-h2:                    26px;
$inuit-font-size-h3:                    22px;
$inuit-font-size-h4:                    20px;
$inuit-font-size-h5:                    16px;
$inuit-font-size-h6:                    14px;


// Breakpoints.
$mq-breakpoints: (
    medium: 500px,
    large: 800px,
    extralarge: 1025px
);


// Uncomment the lines below to show debugging tools in the browser.
// $mq-show-breakpoints: (medium, large, extralarge);
// body::before { z-index: 9999 !important; }


// Colors
$colors: (
    'blue': #0048ff,
    'purple': #6382F7,
    'light-blue': #009eff,
    'orange': #fba311,
    'green': #55da1e,
    'red': #bd4358,
    'grey': #e5e5e5,
    'light-grey': #f8f8f8,
    'dark-grey': #8a8a8a,

    // Brand colors
    'brand-primary': 'orange',
    'brand-secondary': 'purple'
);


// Header
$header-height:                             62px;


// Primary navigation
$tweakpoint-nav-primary:                    410px;
$tweakpoint-nav-primary-medium:             600px;
$tweakpoint-nav-primary-large:              990px;

$nav-height:                                50px;


// Player playlist content
$player-playlist-content-padding:           $inuit-global-spacing-unit;


// Inputs
$input-background-color:                    #f7f7f7;
$input-border-radius:                       4px;
$input-color:                               #8a8a8a;
$input-font-size:                           $global-font-size;
$input-padding:                             $inuit-global-spacing-unit-small + 3;
